Module x86/Generated_Sch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2011 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:simpleType name="ST_Instruction">
		<xs:restriction base="xs:string">
			<xs:enumeration value=""/>
			<xs:enumeration value="0x28fe24"/>
			<xs:enumeration value="goto LABEL_1"/>
			<xs:enumeration value="goto LABEL_4"/>
			<xs:enumeration value="hamis := 0"/>
			<xs:enumeration value="hamis := 1"/>
			<xs:enumeration value="if  csudajo goto LABEL_3"/>
			<xs:enumeration value="if azis goto LABEL_2"/>
			<xs:enumeration value="if blabl goto LABEL_2"/>
			<xs:enumeration value="igaz := 0"/>
			<xs:enumeration value="igaz := 1"/>
			<xs:enumeration value="result := 9"/>
			<xs:enumeration value="return"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="Routine">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="BasicBlock" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Instruction">
		<xs:complexType>
			<xs:simpleContent>
				<xs:extension base="ST_Instruction">
					<xs:attribute name="Type" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="fake"/>
								<xs:enumeration value="original"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="Label" use="required">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value=""/>
								<xs:enumeration value="LABEL_1"/>
								<xs:enumeration value="LABEL_2"/>
								<xs:enumeration value="LABEL_3"/>
								<xs:enumeration value="LABEL_4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:extension>
			</xs:simpleContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="BasicBlock">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Instruction" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Out" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value=""/>
						<xs:enumeration value="ID_11 ID_8"/>
						<xs:enumeration value="ID_11 ID_9"/>
						<xs:enumeration value="ID_12"/>
						<xs:enumeration value="ID_13"/>
						<xs:enumeration value="ID_5 ID_2"/>
						<xs:enumeration value="ID_8"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="In">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ID_0"/>
						<xs:enumeration value="ID_12"/>
						<xs:enumeration value="ID_2 ID_5"/>
						<xs:enumeration value="ID_5 ID_8"/>
						<xs:enumeration value="ID_8"/>
						<xs:enumeration value="ID_9 ID_11"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="ID_0"/>
						<xs:enumeration value="ID_11"/>
						<xs:enumeration value="ID_12"/>
						<xs:enumeration value="ID_13"/>
						<xs:enumeration value="ID_2"/>
						<xs:enumeration value="ID_5"/>
						<xs:enumeration value="ID_8"/>
						<xs:enumeration value="ID_9"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
